@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");

.card-hero {
  background: #e9ecef;
  font-family: "Akaya Telivigala", cursive;
  font-weight: 400;
  text-align: center;
}
.card {
  background-color: #e9b851;
  margin-top: 50%;
  border-radius: 5.5px;
  -webkit-box-shadow: -1px -2px 36px 7px rgba(233, 184, 81, 0.65);
  box-shadow: -1px -2px 36px 7px rgba(233, 184, 81, 0.65);
}

.img-profile {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 10px auto;
  border: 5px solid #fafafa;
}

.column {
  flex-direction: column;
  width: 35%;
  margin: 0 auto;
}

.contact-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fa {
  padding: 0 5px;
  color: black;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .column {
    width: 35%;
  }
  .card-name > h1 {
    font-size: 1.9rem;
  }

  .card-description > p {
    font-size: 1.2rem;
  }
}
