@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap");
* {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
.color-background-fluid {
  background-color: #f4f3ee;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.center-display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: beige;
  border-radius: 12px;
  box-sizing: border-box;
  margin-top: 7px;
  -webkit-box-shadow: 15px 9px 23px 2px rgba(196, 166, 89, 0.54);
  box-shadow: 15px 9px 23px 2px rgba(196, 166, 89, 0.54);
  background: rgb(196, 166, 89);
  background: linear-gradient(
    345deg,
    rgba(196, 166, 89, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  margin-top: 50px;
}

.img {
  width: 120px;
  border-radius: 50%;
  margin-top: 7px;
  border: 2px solid #c4a659;
}
.total-description {
  text-transform: uppercase;
  text-align: center;
  font-family: "Kiwi Maru", serif;
  padding: 7px 3px;
}
.name h2 {
  font-size: 1em;
  font-weight: 600;
}
.profesion p {
  font-size: 0.8em;
}
.contact-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa {
  padding: 12px;
  color: #000;
}
