@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");
body > .card-hero {
  margin: 0;
  padding: 0;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }
}

.card-hero {
  background: #e9ecef;
  height: 100vh;
  font-family: "Akaya Telivigala", cursive;
  font-weight: 400;
  text-align: center;
}
.card {
  background-color: #e9b851;
  margin-top: 50%;
}

.card > img {
  display: block;
}

.img-profile {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 10px auto;
  border: 5px solid #fafafa;
}

.column {
  flex-direction: column;
  width: 35%;
  margin: 0 auto;
  border-radius: 7px;
}

.column > .col {
  padding: 0;
}

.contact-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fa {
  padding: 0 5px;
  color: black;
  font-size: 20px;
}
