/* start reset */
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

img {
  display: block;
  width: 100%;
}

.container-fluid {
  width: 100%;
}

.container {
  width: 960px;
  margin: 0 auto;
}

/* end reset */
/* nav */
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: transparent !important;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}

.collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.navbar-light .navbar-brand {
  font-size: 30px;
  font-family: sans-serif;
  margin-left: 5%;
}

/* container-1  */
.hero {
  width: 100%;
  height: 100vh;
  padding: 0;
}

.description {
  position: absolute;
  top: 12%;
  left: 45%;
  letter-spacing: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #6c757d;
}

.content-romanian-text {
  padding-top: 60px;
}

.color {
  background-color: #f8edeb;
}

.title,
.title-map {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.padding {
  padding: 25px 0px;
}

.margin {
  padding-top: 70px;
}

.description-work {
  padding-left: 10px;
}

footer {
  background: #f8edeb;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.color-background-fluid {
  background-color: #f4f3ee;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.center-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: beige;
  border-radius: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 7px;
  -webkit-box-shadow: 13px 7px 23px 9px rgba(196, 166, 89, 0.54);
  box-shadow: 13px 7px 23px 9px rgba(196, 166, 89, 0.54);
  background: #c4a659;
  background: linear-gradient(345deg, #c4a659 0%, #f1f1f1 100%);
  margin-top: 50px;
}

.img {
  width: 120px;
  border-radius: 50%;
  margin-top: 7px;
  border: 1px solid #c4a659;
}

.total-description {
  text-transform: uppercase;
  text-align: center;
  font-family: "Kiwi Maru", serif;
  padding: 7px 3px;
}

.name h2 {
  font-size: 1em;
  font-weight: 600;
}

.profesion p {
  font-size: 0.8em;
}

.contact-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa {
  padding: 12px;
  color: #000;
}
/*# sourceMappingURL=style.css.map */