/* start reset */
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

img {
  display: block;
  width: 100%;
}

.container-fluid {
  width: 100%;
}

.container {
  width: 960px;
  margin: 0 auto;
}

/* end reset */
/* nav */
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: transparent !important;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}

.collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.navbar-light .navbar-brand {
  font-size: 30px;
  font-family: sans-serif;
  margin-left: 5%;
}

/* container-1  */
.hero {
  width: 100%;
  height: 100vh;
  padding: 0;
}

.description {
  position: absolute;
  top: 12%;
  left: 45%;
  letter-spacing: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #6c757d;
}

.content-romanian-text {
  padding-top: 60px;
}

.color {
  background-color: #f8edeb;
}

.title,
.title-map {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.padding {
  padding: 25px 0px;
}

.margin {
  padding-top: 70px;
}

.description-work {
  padding-left: 10px;
}

footer {
  background: #f8edeb;
}

.card-hero {
  background: #e9ecef;
  font-family: "Akaya Telivigala", cursive;
  font-weight: 400;
  text-align: center;
}

.card {
  background-color: #e9b851;
  margin-top: 50%;
  border-radius: 5.5px;
  -webkit-box-shadow: -1px -2px 36px 7px rgba(233, 184, 81, 0.65);
  box-shadow: -1px -2px 36px 7px rgba(233, 184, 81, 0.65);
}

.img-profile {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 10px auto;
  border: 5px solid #fafafa;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 35%;
  margin: 0 auto;
}

.contact-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa {
  padding: 0 5px;
  color: black;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .column {
    width: 35%;
  }
  .card-name > h1 {
    font-size: 1.9rem;
  }
  .card-description > p {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=style.css.map */